
body {
    border: 10px solid #6E7582;
    border-radius: 30px;

    margin: 2px;
    padding: 10px;

    background-size: cover;
    background-color: #231F20;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: aliceblue;
}

hr{
    border-color: #6E7582;
    border-width: 10px;
}

img{
    display: block;
    margin: auto;
    padding: 5px;
    height: 240px;
    border-radius: 50px;
}

.name{
    display: flex;
    font-size: 90px;
    justify-content: center;
    border-bottom: 5px solid #6E7582;
    color: #F7D716;
}

.roles{
    font-size: 40px;
    margin-left: 10%;
}

.mainsocials{
    font-size: 40px;
    margin-top: -20px;
    margin-left: 10%;
}

.listheader {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 5px;
    color: #F7D716;
}

.listcontent {
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.listcontent>h3{
    color: #EC9B3B;
}

.listcontent>ul{
    font-size: 22px;
    margin-top: 10px;
}

.thumbnailgroup{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.thumbnail{
    border: 2px solid white;
    border-radius: 50px;
    width: 500px;
    height: 290px;
    background-color: #2E2E3A;
}

.thumbnaildesc{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    text-decoration: none;
    color: #EC9B3B;
}

.secttitle{
    font-size: 70px;
    color: #F7D716;
    margin-left: 3rem;
}

.screenshots>img{
    border-radius: 80px;
    display: block;
    text-align: center;
    height: 500px;
}

.middleh3{
    display: block;
    text-align: center;
    font-size: 50px;
    color: #F7D716;
}

.skills>h2{
    font-size: 40px;
    text-align: center;
}

.skillcontainer{
    display: inline-block;
    width: 150px;
    height: 220px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #2E2E3A;
}

.skillcategory{
    overflow-x: auto;
    text-align: center;
}

.skillcontainer>img{
    height: 80px;
    padding-bottom: 0px;
}

.skilltitle{
    font-size: 30px;
    line-height: 10px;
    text-align: center;
}

.skilldesc{
    font-size: 20px;
    text-align: center;
}

.footer{
    display: flex;
    margin-left: 3rem
}

.footertitle{
    font-size: xx-large;
    color: #F7D716;
}

.contact{
    float: left;
}

.about{
    float: right;
}

.footergroup{
    padding: 10px;
}

.textlink{
    color: orange;
    text-decoration: none;
}

.contact{
    font-size: 30px;
}

.email>.textlink{
    text-decoration: none;
}

.socials{
    display: flex;
    font-size: 30px;
    margin-top: -20px;
    gap: 5px;
}

.aboutdesc{
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    img{
        height: 190px;
    }

    .name{
        font-size: 60px;
    }

    .roles{
        font-size: 30px;
        margin-left: 10px;
    }

    .screenshots>img{
        border-radius: 40px;
        width: 400px;
        height: auto;
    }

    .thumbnail{
        width: 400px;
        height: auto;
    }

    .secttitle{
        font-size: 50px;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .email{
        font-size: 26px;
    }
}

@media only screen and (max-width: 1000px) {
    img{
        height: 190px;
    }

    .screenshots>img{
        border-radius: 40px;
        width: 400px;
        height: auto;
    }

    .thumbnail{
        width: 400px;
        height: auto;
    }
}